<div class="arrows-container">
  <tr>
    <td *ngFor="let cell of this.board[0]; let i = index">
      <mat-icon *ngIf="arrowDisplayArray[i]" aria-hidden="false" aria-label="arrow down">keyboard_arrow_down
      </mat-icon>
    </td>
  </tr>
</div>
<table class="board" (mousemove)="coordinates($event)">
  <tbody>
  <tr *ngFor="let row of board; let x = index; trackBy:trackByCell">
    <td *ngFor="let cell of row; let y = index; trackBy:trackByCell">
      <app-cell [position]="{x:x, y:y}" [owned]="cell"
                (cellClickHandle)="handleCellClick($event)"></app-cell>
    </td>
  </tr>
  </tbody>
</table>
