.game-container {
  width: 100%;
  margin-top: 50px;
}

.board {
  margin: auto;
  max-width: 400px;
  max-height: 400px;
  background-color: #5664df;
  border-radius: 5px;
  border: 1px solid #3b4192;
}

td, tr {
  padding: 0px !important;
  border-spacing: 0px !important;
}

table {
  padding: 20px !important;
  border-spacing: 0px !important;
}

.mat-toolbar {
  background-color: #5664df;
  color: white;
}

.board-title {
  padding: 0 10px;
  font-weight: normal;
  font-size: 15px;
}

.big-title {
  font-size: 30px;
  padding-right: 6px;
}

.subsection {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.subsection-player-turn {

  & h1 {
    font-size: 30px;
    font-weight: bold;
  }}


.p1 {
  color: #E04058;
}

.p2 {
  color: #DAA94B;
}
