.board {
  margin: auto;
  max-width: 400px;
  max-height: 400px;
  background-color: #5664df;
  border-radius: 10px;
  border: 1px solid #3b4192;
}

.arrows-container {
  margin: auto;
  width: 515px;
  display: flex;
  justify-content: center;

  & td {
    width: 68px;
    min-width: 68px;
    padding: 4px;
    text-align: center;
  }

  & .mat-icon {
    font-size: 45px;
    width: 45px;
    height: 45px;
  }
}

td, tr {
  padding: 0px !important;
  border-spacing: 0px !important;
}

table {
  padding: 20px !important;
  border-spacing: 0px !important;
}
