/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/theming";
@include mat-core();
$angular-primary: mat-palette($mat-deep-purple, 500, 100, 900);
$angular-accent: mat-palette($mat-grey, A200, A100, A400);
$angular-warn: mat-palette($mat-red);
$angular-primary-dark: mat-palette($mat-amber, 500, 100, 900);
$angular-accent-dark: mat-palette($mat-grey, A200, A100, A400);
$angular-warn-dark: mat-palette($mat-red);

$angular-default-theme: mat-light-theme(
    (
      color: (
        primary: $angular-primary,
        accent: $angular-accent,
        warn: $angular-warn,
      ),
    )
);
@include angular-material-theme($angular-default-theme);

$angular-dark-theme: mat-dark-theme(
    (
      color: (
        primary: $angular-primary-dark,
        accent: $angular-accent-dark,
        warn: $angular-warn-dark,
      ),
    )
);
.darkMode {
  @include angular-material-color($angular-dark-theme);
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
